#perros{background:linear-gradient(#80DEEA,#76FF03);
    font-family: font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Square Peg', cursive;



}
#p {border-radius: 954px;
width: 900px; 


}